* {
  margin: 0;
  font-family: "Inter", sans-serif;
}

#menu-superior {
  text-align: center;
  background-color: #303030;
  padding: 50px;
}

#titulo-menu {
  margin: 50px 0 0 0px;
  padding-bottom: 30px;

  font-size: 40px;
  font-weight: 600;
  color: white;
}

#subtitulo-menu {
  padding-left: 5px;
  padding-bottom: 60px;
  font-weight: 400;
  font-size: 20px;
  color: white;
}

#menu-informacional {
  background-color: #f9f9f9;
  display: grid;
  grid-auto-flow: column;
  text-align: center;
  columns: auto;
  padding: 70px;
}

.numero {
  font-weight: bolder;
  font-size: 40px;
  padding-left: 50px;
}

.texto {
  font-size: 20px;
  padding-left: 50px;
}

#artigo {
  gap: 100px;
  justify-content: center;
  display: grid;
  grid-auto-flow: column;
  columns: auto;
  align-items: center;
}

img {
  border-radius: 30px;
  width: 45vh;

  padding: 30px;
}

#titulo-artigo {
  font-size: 40px;
  font-weight: 500;
}

#texto-artigo {
  font-size: 25px;
  font-weight: 200;
  margin-top: 20px;
  text-align: justify;
}

#rodape {
  background-color: #303030;
  text-align: center;
}

#titulo-formulario {
  padding: 30px;
  color: white;
  font-size: 28px;
  font-weight: 700;
}

input {
  width: 398px;
  height: 52px;
  background-color: #eaece5;
  margin: 15px;
  border: 0px;
  border-radius: 10px;
  padding-left: 10px;
}

button {
  line-height: 25px;
  font-size: 20px;
  font-family: Raleway;
  background-color: #c07212;
  width: 256px;
  height: 74px;
  color: #eaece5;
  border: 0px;
  border-radius: 10px;
  font-weight: 700;
  cursor: pointer;
  margin: 40px;
}

button:hover {
  background-color: #975e18;
  color: white;
  transform: translateY(-7px);
  box-shadow: 0px 15px 20px #05103081;
  transition-duration: 0.9s;
}
@media (max-width: 319px) {
  * {
    margin: 0;
    padding: 0;
  }

  #menu-superior {
    background-color: #303030;
    margin: auto;
    padding: 20px 0 50px 0;
  }

  #titulo-menu {
    margin: auto;
    font-size: 2.2rem;
    font-weight: 600;
    color: white;
    text-align: center;
  }
  #subtitulo-menu {
    padding: 0 25px;
    margin: auto;
    text-align: center;
    font-weight: 400;
    font-size: 1rem;
    color: white;
  }

  #menu-informacional {
    background-color: #f9f9f9;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    gap: 15px;
  }

  /* Remova as margens e adicione o alinhamento central */
  .numero,
  .texto {
    padding: 0;
    margin: 0; /* Remova as margens para centralizar corretamente */
    text-align: center; /* Centralize o texto dentro das divs */
  }

  .numero {
    font-weight: bolder;
    font-size: 2.5rem;
  }

  .texto {
    font-size: 1.5rem;
  }

  #artigo {
    display: flex;
    flex-wrap: wrap;
    columns: auto;
    align-items: center;
  }

  img {
    align-items: center;
    border-radius: 30px;
    width: 80%;
    margin: 0;
    padding: 0 0 25px 0;
  }

  #titulo-artigo {
    text-align: center;
    font-size: 2.2rem;
    font-weight: 500;
  }

  #texto-artigo {
    font-size: 25px;
    font-weight: 200;
    margin-top: 50px;
    text-align: center;
  }

  #rodape {
    margin: 0;
    padding: 0;
    background-color: #303030;
    text-align: center;
  }

  #titulo-formulario {
    padding: 15px;
    color: white;
    font-size: 28px;
    font-weight: 700;
  }

  input {
    width: 25vh;
    height: 35px;
    background-color: #eaece5;
    margin: 15px;
    border: 0px;
    border-radius: 10px;
    padding: 10px;
  }

  button {
    line-height: 25px;
    font-size: 20px;
    font-family: Raleway;
    background-color: #c07212;
    width: 20vh;
    height: 50px;
    color: #eaece5;
    border: 0px;
    border-radius: 10px;
    font-weight: 700;
    cursor: pointer;
    margin: 40px;
  }

  button:hover {
    background-color: #975e18;
    color: white;
    transform: translateY(-7px);
    box-shadow: 0px 15px 20px #05103081;
    transition-duration: 0.9s;
  }
}
